:root {
  --neutral-900: #12131a;
  --neutral-800: #21222c;
  --neutral-700: #2a2b37;
  --neutral-600: #404254;
  --neutral-200: #e4e4ef;
  --neutral-100: #f2f2f7;
  --white: #ffffff;

  --purple-500: #c27cf8;
  --purple-400: #d3a0fa;
  --yellow-500: #ff9f00;
  --orange-800: #da3701;
  --orange-500: #fe8159;
}

:root {
  --text-base: 16px;
  --text-3xl: calc(var(--text-base) * 4); /* 64px */
  --text-2xl: calc(var(--text-base) * 2.5); /* 40px */
  --text-xl: calc(var(--text-base) * 1.5); /* 24px */
  --text-lg: calc(var(--text-base) * 1.25); /* 20px */
  --text-md: calc(var(--text-base) * 1); /* 16px */

  --text-3xl--line-height: 100%;
  --text-2xl--line-height: 100%;
  --text-xl--line-height: 130%;
  --text-lg--line-height: 140%;
  --text-md--line-height: 130%;

  --text-3xl--letter-spacing: -1px;
  --text-2xl--letter-spacing: -1px;
  --text-xl--letter-spacing: -1px;
  --text-lg--letter-spacing: -0.6px;
  --text-md--letter-spacing: -0.6px;

  --spacing-base: 0.5rem;
  --spacing-025: calc(var(--spacing-base) * 0.25); /* 2px */
  --spacing-50: calc(var(--spacing-base) * 0.5); /* 4px */
  --spacing-75: calc(var(--spacing-base) * 0.75); /* 6px */
  --spacing-100: calc(var(--spacing-base) * 1); /* 8px */
  --spacing-150: calc(var(--spacing-base) * 1.5); /* 12px */
  --spacing-200: calc(var(--spacing-base) * 2); /* 16px */
  --spacing-250: calc(var(--spacing-base) * 2.5); /* 20px */
  --spacing-300: calc(var(--spacing-base) * 3); /* 24px */
  --spacing-400: calc(var(--spacing-base) * 4); /* 32px */
  --spacing-500: calc(var(--spacing-base) * 5); /* 40px */
  --spacing-600: calc(var(--spacing-base) * 6); /* 48px */
  --spacing-800: calc(var(--spacing-base) * 8); /* 64px */
  --spacing-1000: calc(var(--spacing-base) * 10); /* 80px */

  --radius-base: 1px;
  --radius-4: calc(var(--radius-base) * 4);
  --radius-6: calc(var(--radius-base) * 6);
  --radius-8: calc(var(--radius-base) * 8);
  --radius-10: calc(var(--radius-base) * 10);
  --radius-12: calc(var(--radius-base) * 12);
  --radius-16: calc(var(--radius-base) * 16);
  --radius-20: calc(var(--radius-base) * 20);
  --radius-24: calc(var(--radius-base) * 24);
  --radius-full: calc(var(--radius-base) * 999);
}

:root {
  --color-background: var(--white);
  --color-text: var(--neutral-700);
  --color-header: var(--neutral-900);
  --card-foreground: var(--neutral-900);
  --color-border: var(--neutral-200);
  --color-input: var(--neutral-100);
  --color-input--hover: var(--neutral-200);
  --color-accent: var(--purple-400);

  --checkbox-border: var(--neutral-900);
}

[data-theme='dark'] {
  --color-background: var(--neutral-900);
  --color-text: var(--neutral-200);
  --color-header: var(--neutral-100);
  --card-foreground: var(--neutral-900);
  --color-border: var(--neutral-700);
  --color-input: var(--neutral-800);
  --color-input--hover: var(--neutral-700);
  --color-accent: var(--purple-400);

  --checkbox-border: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  min-height: 100vh;
  transition: color 0.5s;
  background-color: 0.5s;

  background-color: var(--color-background);

  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  font-family:
    'DM Sans',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
